@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  color: #d9d9d9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.content22 {
  position: relative;
  margin: 130px auto;
  text-align: center;
  padding: 0 20px;
}

.content22 .text22 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #202020;
}

.content22 .p-class {
  font-size: 2.1875rem;
  font-weight: 600;
  color: #202020;
}

footer {
  width: 100%;
  background: #111;
}

.main-content22 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content22 .box22 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 10px 20px;
}

.box22 h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box22 .content22 {
  margin: 20px 0 0 0;
  position: relative;
}

.box22 .content22:before {
  position: absolute;
  content: '';
  top: -10px;
  height: 2px;
  background: #1a1a1a;
}

.box22 .content22:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 15%;
  background: #f12020;
  top: -10px;
}

.left22 .content22 .p-class {
  text-align: justify;
}

.left22 .content22 .social22 {
  margin: 20px 0 0 0;
}

.left22 .content22 .social22 a {
  padding: 0 2px;
}

.left22 .content22 .social22 a span {
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.left22 .content22 .social22 a span:hover {
  background: #f12020;
}

.center22 .content22 .fas22 {
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.center22 .content22 .fas:hover {
  background: #f12020;
}

.center22 .content22 .text22 {
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}

.center22 .content22 .phone22 {
  margin: 15px 0;
}

.right22 form .text22 {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
}

.right22 form .msg22 {
  margin-top: 10px;
}

.right22 form input, .right22 form textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
}

.right22 form input:focus,
.right22 form textarea:focus {
  outline-color: #3498db;
}

.right22 form input {
  height: 35px;
}

.right22 form .btn {
  margin-top: 10px;
}

.right22 form .btn button {
  height: 40px;
  width: 100%;
  border: none;
  outline: none;
  background: #f12020;
  font-size: 1.0625rem;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.right22 form .btn button:hover {
  background: #000;
}

.bottom22 center {
  padding: 5px;
  font-size: 0.9375rem;
  background: #151515;
}

.bottom22 center span {
  color: #656565;
}

.bottom22 center a {
  color: #f12020;
  text-decoration: none;
}

.bottom22 center a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0px;
  }
  .main-content22 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-content22 .box22 {
    margin: 5px 0;
  }
}
/*# sourceMappingURL=fo.css.map */